* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.wrapper {
    /* background-image: url("img/weather.png"); */
    background-color: #24292e;
    background-size: contain;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;


}

aside {
    background-image: url(img/tapetka.jpg);
    background-attachment: fixed;
    background-size: contain;

    background-color: lightgray;
    background-size: contain;
    background-position: center;
    max-width: 1000px;
    margin: 10px;
    padding: 10px;
    align-self: center;
    width: 80%;
    flex-basis: 20%;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
}

/* .main_information {
    background-image: url(img/tapetka.jpg);
    background-attachment: fixed;
    background-size: contain;
} */

aside h1 {
    padding: 10px;
    margin-bottom: 60px;
    text-align: center;
}

.logout {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 15%;
    padding: 15px 40px;
    margin: 1%;
    color: white;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    transition: .3s;
    cursor: pointer;
}

.logout a {
    /* color: #33e05e; */
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: .3s;
}

.logout:hover {
    background-color: black;
    color: white;

}

.logout:hover a {
    color: white;
}

aside p {
    margin-bottom: 4px;
    padding: 5px;
    border-bottom: 2px solid black;
    /* border-radius: 5px; */
}

.bilet {
    background-color: lightgray;
    /* EKSPERYMENTALNIE  */
    background-image: url(../img/samolot_strona_glowna_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    /* EKSPERYMENTALNIE  */
    max-width: 1000px;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 16px;
    width: 80%;
    flex-basis: 40%;
    margin: 4% 0;
}


.bilet h1 {
    text-align: center;
    font-size: 180%;
}

/*  E L E M E N T Y   PHP    M A I N  */
.info {
    border-bottom: 2px solid rgb(119, 207, 236);
    /* border: 2px solid #bcf2ff; */

}


.bilet-info {
    padding: 20px;
    text-align: center;
}

.bilet-info b {
    color: #33e05e;
}

h4 {
    margin-bottom: 10px;
    text-align: center;
}

/* O F E R T A */
.oferta {
    color: black;
    align-self: center;
    width: 80%;
    flex-basis: 40%;
}




main {

    background-image: url(img/tapetka.jpg);
    background-attachment: fixed;
    background-size: contain;

    /* background-color: lightgray; */
    border: 2px solid transparent;
    border-radius: 16px;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

/* Elementy każdej sekcji opisującej podróż */
div {
    /* border: 2px solid yellow; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div h1 {
    padding: 4%;
    color: black;
    font-size: 3rem;
    text-align: center;
    padding-top: 15px;
    /* border: 2px solid black; */
}

/* section {
   
} */

div p {
    padding: 2%;
    color: black;
    /* border: 2px solid greenyellow; */
    align-self: flex-end;
    font-size: 1rem;
    text-align: justify;
    line-height: 150%;
}

section img {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 16px;
}



/* Koniec elementów */
.wstep h1 {
    font-variant: initial;
    font-style: oblique;
    padding: 3%;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.wstep p {
    font-weight: bold;
    font-size: 16px;
    padding: 2%;
    text-align: justify;
}


/* K U P N O  B I L E T U  */







/* W Y S Z U K I W A R K A */
.search {
    position: relative;
    max-width: 1000px;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 16px;
    width: 80%;
    flex-basis: 40%;
    margin: 4% 0;
    /* border: 2px solid red; */
    padding-bottom: 40px;
}

.przycisklotu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    margin-top: 1%;
    /* margin-left: calc(60% /2);
    #33e05e
     */
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    transition: .3s;
    cursor: pointer;
}

.przycisklotu:hover {
    background-color: black;
    color: white;
}

.kup {
    /* top: 50%; */
    position: absolute;
    left: 75%;
    transform: translateY(-200%);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;

}

.kup:hover {
    padding-left: 60px;
    background-color: black;
    color: white;
}

.form-control {
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 16px;
    font-style: italic;
    font-weight: bold;
    /* text-align: center; */
}


.search h1 {
    font-size: 180%;
}

@media(min-width: 300px) {
    .logout {
        top: 25%;
    }
}

@media(min-width: 430px) {
    .logout {
        top: 15%;
    }
}

@media(min-width: 850px) {
    .logout {
        top: 12%;
    }
}

/* 
@media(min-width: 1200px) {
    .logout {
        top: 10%;
    }
} */