* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.wrapper {
    /* background-image: url("img/weather.png"); */
    background-color: #24292e;
    background-size: contain;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;


}

aside {
    background-image: url(img/tapetka.jpg);
    background-attachment: fixed;
    background-size: contain;

    background-color: lightgray;
    background-size: contain;
    background-position: center;
    max-width: 1000px;
    /* margin: 10px; */
    padding: 10px;
    align-self: center;
    width: 80%;
    flex-basis: 20%;
    border: 2px solid transparent;
    border-radius: 4px;
    position: relative;
}


aside h1 {
    padding: 10px;
    /* margin-bottom: 60px; */
    text-align: center;
}

.logout {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    /* top: -10%; */
    padding: 15px 40px;
    margin: 1%;
    color: white;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    transition: .3s;
    cursor: pointer;
}

.logout a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    transition: .3s;
}

.logout:hover {
    background-color: black;
    color: white;

}

.logout:hover a {
    color: white;
}

aside p {
    margin-bottom: 4px;
    padding: 5px;
    border-bottom: 2px solid black;
}

.bilet {
    background-color: lightgray;
    background-image: url(img/wow.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    max-width: 1000px;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 80%;
    flex-basis: 40%;
    /* margin: 4% 0; */
    margin-bottom: 4%;
}

.colour {
    color: black;
}


.kontener2 {
    border-bottom: 2px solid white;
    text-align: center;
    color: white;
    /* color: black; */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}



.bilet h1 {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    text-align: center;
    font-size: 180%;
}

/*  E L E M E N T Y   PHP    M A I N  */
.info {
    border-bottom: 2px solid rgb(119, 207, 236);
    filter: blur(4px);
}

.info:hover {
    filter: blur(0px);
}


.bilet-info {
    padding: 20px;
    text-align: center;
}

.bilet-info b {
    color: #33e05e;
}

h4 {
    margin-bottom: 10px;
    text-align: center;
}

/* O F E R T A */
.oferta {
    color: black;
    align-self: center;
    width: 80%;
    flex-basis: 40%;
}




main {

    background-image: url(img/tapetka.jpg);
    background-attachment: fixed;
    background-size: contain;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

/* Elementy każdej sekcji opisującej podróż */
div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div h1 {
    padding: 4%;
    color: black;
    font-size: 3rem;
    text-align: center;
    padding-top: 15px;
}

div p {
    padding: 2%;
    color: black;
    align-self: flex-end;
    font-size: 1rem;
    text-align: justify;
    line-height: 150%;
}

section img {
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    border-radius: 16px;
}



/* Koniec elementów */
.wstep h1 {
    font-variant: initial;
    font-style: oblique;
    padding: 3%;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.wstep p {
    font-weight: bold;
    font-size: 16px;
    padding: 2%;
    text-align: justify;
}


/* K U P N O  B I L E T U  */



b.extended {
    color: white;
    margin-left: 10px;
    margin-right: 5px;
}


/* W Y S Z U K I W A R K A */
.search {
    position: relative;
    max-width: 1000px;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 80%;
    flex-basis: 40%;
    /* margin: 6px 0; */
    margin: 4% 0;
    padding-bottom: 40px;
}

.search form {
    display: flex;
}

.moje_p {
    border-bottom: 0px solid transparent;
    align-self: flex-start;
}

.przycisklotu {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    margin-top: 1%;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    transition: .3s;
    cursor: pointer;
}

.przycisklotu:hover {
    background-color: black;
    color: white;
}

.zwroc {
    position: absolute;
    left: 75%;
    transform: translateY(-400%);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;

}

.zwroc:hover {
    background-color: white;
    color: black;
}

.kup {
    position: absolute;
    left: 75%;
    transform: translateY(-200%);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 1%;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;

}

.kup:hover {
    padding-right: 60px;
    padding-left: 60px;
    background-color: black;
    color: white;
}

.no_compromise {
    font-weight: normal;
}


.form-control {
    /* color: lightgreen; */
    margin: 0 auto;
    width: 80%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 16px;
    font-style: italic;
    font-weight: bold;
}


.search h1 {
    font-size: 180%;
}

@media(min-width: 300px) {
    .logout {
        top: 25%;
    }
}

@media(min-width: 430px) {
    .logout {
        top: 15%;
    }
}

@media(min-width: 850px) {
    .logout {
        top: 15%;
    }
}