/* font-family: 'Great Vibes', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}


.wrapper {
    padding-top: 10vh;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    background-color: black;
    width: 100%;
    flex-basis: 100%;
    overflow: hidden;
}

/* Przy 1100 px zdjecie zaczyna sie rozjeżdzać */
main img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    opacity: 0;
    animation: baner 15s linear infinite both;
    filter: saturate(200%);
}


main img:nth-child(2) {
    animation-delay: 5s;
}

main img:nth-child(3) {
    animation-delay: 10s;
}


.logo img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 2%;
}

h1 {

    background-color: rgba(0, 0, 0, 0.6);
    font-style: italic;
    color: white;
    width: 99%;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
    padding: 15px;
    cursor: not-allowed;
}

p {
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 95%;
    left: 2%;
    color: black;
    font-size: 2rem;
    color: white;
    transition: .4s;
}

p:hover {
    color: black;
}

.button {
    text-decoration: none;
    overflow: hidden;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    font-style: italic;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: .5s ease-out;
    text-align: center;
}

.button span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 8px solid white;
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease-out;
}

.button:hover {
    color: black;
}

.button:hover span {
    opacity: 1;
    transform: scale(30);
    transform: translate(-50%, -50);
}

@keyframes baner {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;

    }

    33.3% {
        opacity: 1;
    }

    38.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}


@media (max-width: 900px) {


    .logo img {
        display: none;
    }

    h1 {
        top: 60%;
    }

    .button {
        top: 85%;
    }

}