* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.wrapper {
    height: auto;
    padding-top: 10vh;
    background-image: url(clouds.jpg);
    background-position: center;
    /* background-repeat: repeat; */
    background-size: cover;
    /* background: linear-gradient(to top, blue, rgb(47, 219, 219)); */
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', 'sans-serif';
}



main {
    background-color: #24292e;
    /* color: white; */
    width: 75%;
    height: auto;
    padding: 4%;
    border: 2px solid transparent;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 650px;
}

aside {
    background-color: #24292e;
    width: 75%;
    margin: 0 auto;
    flex-basis: auto;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4%;
    margin-top: 4%;
}

aside h1 {
    text-align: center;
    font-size: 2rem;
}

/* ELEMENTY PHP  */

.container {
    text-align: center;
    border: 2px solid white;
    margin-bottom: 20px;
    border-radius: 8px;
}

aside>.container p {
    border: none;
}

.container p:nth-last-child(1) {
    padding-top: 10px;
    border-bottom: none;
}

h3 {
    font-style: italic;
    text-transform: uppercase;
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
}

.bilet-info {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #33e05e;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.bilet-info:hover {
    color: black;
    background-color: lightgreen;
}

span {
    padding-left: 20px;
}


/* Przycisk wylogowywania sie */
.logout {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: calc(100% / 2 - 15%);
    width: 30%;
    padding: 2%;
    color: white;
    border: 2px solid #33e05e;
    border-radius: 16px;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}




.logout a {
    color: #33e05e;
    text-decoration: none;
    font-size: 2rem;
    transition: .3s;
}

.logout:hover {
    padding-left: 30px;
    background-color: #33e05e;
}

.logout:hover a {

    color: #24292e;
}

p {
    cursor: default;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 20px;
}