.wrapper {
    padding-top: 10vh;
    min-height: 100vh;
    position: relative;
    /* background: linear-gradient(to top, aqua, blue); */
    background-image: url(clouds.jpg);
    filter: saturate(120%);
}

/* #24292e- kolor nagłówka */
/* #242734 - kolor inspiracji */
main {
    font-family: 'Roboto', 'sans-serif';
    background-color: #24292e;
    color: white;
    width: 50%;
    max-width: 500px;
    height: 60%;
    border: 2px solid transparent;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
}

h1 {
    color: #aab1be;
    padding-top: 20%;
    flex-basis: 30%;
    font-size: 25px;
    text-align: center;

}

form {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

select {
    text-align: center;
    margin: 20px 0;
    align-self: center;
    font-size: 2rem;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 95%;
    margin-left: 2%;
    padding: 5px 0 5px 20px;
    background-color: rgb(69, 79, 88);
    color: #aab1be;
    cursor: pointer;
}

label {
    flex-basis: 10%;
}

#username {
    margin-bottom: 4px;
}

label input {
    font-size: 1.5em;
    background-color: rgba(69, 79, 88, 0.6);
    color: #aab1be;
    margin-left: 2.5%;
    width: 95%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    padding-left: 10%;
}

button {
    flex-basis: 10%;
    width: 40%;
    margin-left: calc(100%/ 2 - 20%);
    border: 2px solid #dc6180;
    border-radius: 20px;
    padding: 10px;
    background-color: #242734;
    color: #dc6180;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: #dc6180;
    color: white;
}


p {
    padding: 1%;
    color: #aab1be;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    flex-basis: 15%;
}

@media (max-width: 600px) {
    .wrapper {
        height: 120vh;

    }

    main {
        height: 55%;
        width: 80%;
        top: 60%;
    }

}