/* font-family: 'Noto Serif', serif; */
.wrapper {
    padding-top: 10vh;
    min-height: 200vh;
    position: relative;
    /* background: linear-gradient(to top, aqua, blue); */
    background-color: black;
}

.wrapper * {
    box-sizing: border-box;
}

/* #24292e- kolor nagłówka */
/* #242734 - kolor inspiracji */
.gallery {
    font-family: 'Roboto', 'sans-serif';
    background-color: black;
    color: white;
    width: 99%;
    height: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;

}

.gallery .title {
    flex-basis: 25%;
    position: relative;
}

.gallery .title h1 {
    font-family: 'Noto Serif', serif;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.gallery .images {
    margin: 0 auto;
    max-width: 1200px;
    flex-basis: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.images a {
    cursor: default;
    flex-basis: 25%;
    height: 25%;

}


.images img {

    filter: grayscale(100%);
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 20px;
    transition: .5s;
}

.images a:hover img {
    transform: scale(1.3);
    filter: grayscale(0%);
}

p {
    line-height: 170%;
    font-style: oblique;
    font-family: 'Noto Serif', serif;
    padding: 10%;
    align-self: flex-end;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .gallery {
        top: 45%;
    }
}


@media(max-width: 620px) {
    .gallery {
        top: 55%;
    }

    .gallery .title h1 {
        padding: 10px;
        font-size: 2rem;
    }
}

@media(max-width: 500px) {
    .gallery .title h1 {}
}